In [2]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.31-cp38-cp38-win_amd64.whl (7.9 MB)
Collecting protobuf<=3.20.1,>=3.11.0
  Downloading protobuf-3.20.1-cp38-cp38-win_amd64.whl (904 kB)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.31 protobuf-3.20.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import mysql.connector as sql

In [2]:
connection = sql.connect(
host = 'localhost',
user = 'root',
password = 'Manager@543')

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001F9CBF18190>

In [3]:
cursor = connection.cursor()
cursor.execute("CREATE DATABASE Employee_record")
cursor.execute('SHOW DATABASES')

In [3]:
connection = sql.connect(
  host="localhost",
  user="root",
  password="Manager@543",
  database="Employee_record"
)
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001F9CBF18760>

In [4]:
cursor = connection.cursor()

In [12]:
cursor.execute('''CREATE table employeeinfo (id int auto_increment primary key, 
               name varchar(255),department varchar(255),Salary int)''')

In [16]:
cursor.execute('''insert into employeeinfo (name, department,Salary) values ('Bhavya','IT',50000),('Priyanshi','ECE',30000),
                ('Krishna','CSE',70000),('Naveesh','EE',20000),('Radha','CSE',70000),('Shubham','Finance',40000)''')

In [17]:
connection.commit()

In [18]:
print('Record inserted successfully...')

Record inserted successfully...

In [19]:
cursor.execute("Select * from employeeinfo")
cursor.fetchall()

[(1, 'Bhavya', 'IT', 50000),
 (2, 'Priyanshi', 'ECE', 30000),
 (3, 'Krishna', 'CSE', 70000),
 (4, 'Naveesh', 'EE', 20000),
 (5, 'Radha', 'CSE', 70000),
 (6, 'Shubham', 'Finance', 40000)]

In [20]:
#based on name
cursor.execute("Select * from employeeinfo where name='Krishna'")
cursor.fetchall()

[(3, 'Krishna', 'CSE', 70000)]

In [21]:
#based on department
cursor.execute("Select department from employeeinfo")
cursor.fetchall()

[('IT',), ('ECE',), ('CSE',), ('EE',), ('CSE',), ('Finance',)]

In [22]:
#To know the distinct department
cursor.execute("SELECT DISTINCT department from employeeinfo")
cursor.fetchall()

[('IT',), ('ECE',), ('CSE',), ('EE',), ('Finance',)]

In [30]:
#To know the maximum salaried employee
cursor.execute("SELECT * from employeeinfo order by salary desc limit 1")
cursor.fetchall()

[(3, 'Krishna', 'CSE', 70000)]

In [6]:
#To update the department
cursor.execute("UPDATE employeeinfo SET department='ML' WHERE name='Bhavya'")

[]

In [7]:
connection.commit()

In [8]:
cursor.execute("Select * from employeeinfo")
cursor.fetchall()

[(1, 'Bhavya', 'ML', 50000),
 (2, 'Priyanshi', 'ECE', 30000),
 (3, 'Krishna', 'CSE', 70000),
 (4, 'Naveesh', 'EE', 20000),
 (5, 'Radha', 'CSE', 70000),
 (6, 'Shubham', 'Finance', 40000)]

In [10]:
#delete a record
cursor.execute("DELETE from employeeinfo where name='Shubham'")
connection.commit()

In [11]:
cursor.execute("Select * from employeeinfo")
cursor.fetchall()

[(1, 'Bhavya', 'ML', 50000),
 (2, 'Priyanshi', 'ECE', 30000),
 (3, 'Krishna', 'CSE', 70000),
 (4, 'Naveesh', 'EE', 20000),
 (5, 'Radha', 'CSE', 70000)]